<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>update username</title>
</head>

<body>
    <h1>Update Username</h1>
    <form action="/<%= user._id %>?_method=PUT" method="POST">
        <input type="text" name="username" value="<%= user.username %>">
        <input type="submit" value="Update">
        <button type="button" onclick="window.location='/users/<%= user.id %>'">Cancel</button>
    </form>

    <h2>Delete User</h2>
    <form action="/<%= user._id %>?_method=DELETE" method="POST">
        <p>Are You sure Ya wanta do that ???</p>
        <input type="submit" value="Delete">
    </form>


</body>

</html>